*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
text-decoration: none;
}

.name {
    font-weight: bold;
    margin-bottom: 24px;
}

body {
    color: rgb(242, 242, 240);
    text-shadow: 1px 1px 5px #000;
    background-image: url(images/勝ち風呂.jpg);
    background-size: cover;
    background-attachment: fixed;
    backdrop-filter: blur(16px);
}

.back_btn {
    padding: 12px 24px;
    color: white;
    font-size: 16px;
    border: 1px solid #fff;
    border-radius: 8px;
}

.firstview{
    margin-left: 80px;
    padding: 40px;
    font-size: 40px;
    font-weight: 40px;
}

.info-main .character-img{
    margin-top: 20px;
    margin-left: 5px;
    width: 50%;
}

.gajye  img{
    width: 10%;
}

.sutapa img {
    width: 10%
    
}

.info-main {
    display: flex;
}

.character-status {
    margin: 30px;
    display: flex;
    align-items: center;
}

.status {
    margin-top: 60px;
}

.rea {
    display: flex;
}

.infomation {
    font-size: 20px;
}

.taipu {
    display: flex;
    margin-top: 10px;
}

.normal {
    display: flex;
    margin-top: 10px;
}

.uruto {
    display: flex;
    margin-top: 10px;
}

.under {
    display: flex;
    gap: 50px;
    font-size: 20px;
    margin-top: 40px;
    padding: 32px;
    background-color: rgba(6, 113, 220, 0.7);
    border-radius: 16px;
}

.gajye {
    background-color: rgba(8, 248, 128, 0.6);
    border-radius: 16px;
    font-size: 24px;
    padding: 16px 32px;
}

.sutapa {
    background-color: rgba(253, 98, 2, 0.6);
    border-radius: 16px;
    font-size: 24px;
    padding: 16px 32px;
    margin-top: 24px;
}